@font-face {
  font-family: "LineIcons";
  src: url("../fonts/LineIcons.woff2") format("woff2");
}
/* Mehdi S */
/* Nav */

/* Nav End */

/* Footer */

/* Footer End */
/* Mehdi E */

/* Salah-Eddine S */
html {
  scroll-behavior: smooth;
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "LineIcons", Arial, sans-serif;
}

.hero-section {
  position: relative;
  overflow: hidden;
  height: 720px;
  display: flex;
  align-items: center;
  background-image: url(../assets/icons/hero/hero-bg.svg);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  z-index: 1;
  width: 100%;
}

.hero-section .container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  gap: 4vw;
  align-items: center;
}

.hero-section .hero-content {
  flex: 0 0 auto;
  width: 31vw;
}

.hero-section .hero-content h1 {
  text-wrap: nowrap;
  margin-bottom: 15px;
  color: #fff;
}

.hero-section .hero-content h1 span {
  display: block;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.hero-section .hero-content p {
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  width: 20em;
}

.hero-section .hero-image {
  padding-top: 50px;
}

.brands-section .single-brands {
  text-align: center;
  padding: 15px 0;
}

.brands-section .single-brands img {
  max-width: 100%;
  margin: auto;
}

.hero-section .hero-content h1 {
  font-size: 45px;
}

.main-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 17px 35px;
  font-size: 18px;
  line-height: 1;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-in-out;
  border: 2px solid transparent;
  background: #fb7370;
  overflow: hidden;
}

.main-btn:hover {
  color: #fff;
}

.main-btn.border-btn {
  border: 2px solid #5f6fff;
  background: transparent;
  color: #5f6fff;
}

.main-btn.border-btn:hover::after {
  background-color: rgba(95, 111, 255, 0.2);
}

.btn-hover {
  position: relative;
  overflow: hidden;
}

.btn-hover::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.05);
  top: 50%;
  left: 50%;
  padding: 50%;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
  transform: translate3d(-50%, -50%, 0) scale(0);
}

.btn-hover:hover::after {
  transform: translate3d(-50%, -50%, 0) scale(1.3);
}

@media (min-width: 1200px) {
  .hero-section {
    height: 820px;
  }
  .hero-section .container {
    margin-left: 10%;
  }
  .hero-section .hero-content {
    flex: 0 0 auto;
    width: 31vw;
  }
  .brands-section .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5vw;
  }
}

@media (min-width: 990px) and (max-width: 1199px) {
  .hero-section {
    height: 700px;
  }
  .hero-section .hero-content {
    flex: 0 0 auto;
    width: 41vw;
  }
  .hero-section .hero-content h1 {
    font-size: 50px;
  }
  .hero-section .hero-image img {
    width: 100%;
  }
  .brands-section .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5vw;
  }
}

@media (max-width: 989px) {
  .hero-section {
    height: auto;
    padding: 150px 0 50px;
  }
  .hero-section .container {
    flex-wrap: wrap;
  }
  .hero-section .hero-content {
    flex: 0 0 auto;
    width: 55vw;
  }
  .hero-section .hero-image img {
    max-width: 100%;
    margin: auto;
    margin-left: 9px;
  }
  .brands-section {
    width: 100vw;
  }
  .brands-section .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
  }
}

@media (max-width: 630px) {
  .hero-section .hero-content h1 {
    font-size: 40px;
  }
  .hero-section .hero-content p {
    width: 15em;
  }
  .hero-section .container {
    width: 100%;
  }
  .hero-section .hero-content {
    margin-left: -5%;
  }
  .brands-section .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5vw;
  }
}

@media (max-width: 460px) {
  .hero-section .hero-content h1 {
    font-size: 30px;
  }
  .hero-section .hero-content {
    margin-left: -15%;
  }
  .main-btn {
    padding: 7px 15px;
  }
}

@media (max-width: 320px) {
  .hero-section .hero-content h1 {
    font-size: 27px;
  }
  .hero-section .hero-content {
    margin-left: -20%;
  }
  .hero-section .hero-content p {
    width: 12em;
  }
  .hero-section .hero-image img {
    margin-left: 5px;
  }
}
/* Salah-Eddine E */

/* Badr-Eddine S */

/* Badr-Eddine E */

/* Abde llah S */

/* Abde llah E */

/* Zakaria S */

.swiper {
  width: 1200px;
  height: 400px;
}






/* Zakaria E */

/* Yassine S */

/* Yassine E */
