/* Mehdi S */
@import url(https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&amp;display=swap);

body {
  height: 200vh;
  background-color: #fff;
  font-family: "Sen", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  padding-left: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

a:hover {
  color: #0a58ca;
}
a:focus,
button:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}
span,
a {
  display: inline-block;
}

button:focus:not(:focus-visible) {
  outline: 0;
}
button {
  border-radius: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: none;
}

[type="button"],
button {
  -webkit-appearance: button;
}
[type="button"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}
@media (min-width: 992px) {
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
/* Nav Start */

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding: 20px 0;
  border-radius: 5px;
  position: relative;
  transition: all 0.3s ease-out 0s;
}
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .navbar-toggler {
    transition: none;
  }
}
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.25rem;
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}
.align-items-center {
  align-items: center !important;
}
.ms-auto {
  margin-left: auto !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-hover {
  position: relative;
  overflow: hidden;
}
.btn-hover::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.05);
  top: 50%;
  left: 50%;
  padding: 50%;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
  transform: translate3d(-50%, -50%, 0) scale(0);
}
.btn-hover:hover::after {
  transform: translate3d(-50%, -50%, 0) scale(1.3);
}
.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.3s ease-out 0s;
  /* height: 12rem; */
}
.sticky {
  position: fixed;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-out 0s;
}
.sticky .navbar .navbar-nav .nav-item a {
  color: rgba(0, 0, 0, 0.9);
}
.sticky .navbar .navbar-nav .nav-item a:hover {
  color: #5f6fff;
}
.sticky .navbar .navbar-nav .nav-item a:hover::after {
  background: #5f6fff;
}
.sticky .navbar .header-btn .main-btn {
  color: #5f6fff;
  background: rgba(95, 111, 255, 0.11);
  border-color: #5f6fff;
}
.sticky .navbar .navbar-toggler .toggler-icon {
  background: rgba(0, 0, 0, 0.9);
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .navbar {
    padding: 32px 0;
  }
}
.navbar-brand {
  padding: 0;
}

.navbar-toggler {
  padding: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .navbar-toggler {
    position: absolute;
    right: 0;
    top: 25px;
  }
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.9);
  display: block;
  margin: 5px 0;
  position: relative;
  transition: all 0.3s ease-out 0s;
}
@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .navbar-toggler .toggler-icon {
    background: #000;
  }
}
.navbar-toggler.active .toggler-icon:nth-of-type(1) {
  transform: rotate(45deg);
  top: 7px;
}
.navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}
.navbar-toggler.active .toggler-icon:nth-of-type(3) {
  transform: rotate(135deg);
  top: -7px;
}
@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    transition: top 1s ease 0s;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 5px 12px;
  }
}
.navbar-nav .nav-item {
  position: relative;
  padding: 8px 0;
  margin-right: 40px;
}
@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .navbar-nav .nav-item {
    padding: 5px 0;
    margin-left: 20px;
  }
  .navbar-nav .nav-item:first-child {
    margin-top: 20px;
  }
  .navbar-nav .nav-item:last-child {
    margin-bottom: 20px;
  }
}
.navbar-nav .nav-item a {
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease-out 0s;
  padding: 8px 0;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .navbar-nav .nav-item a {
    display: inline-block;
    color: rgba(0, 0, 0, 0.9);
  }
}
.navbar-nav .nav-item a::after {
  content: "";
  position: absolute;
  left: 0;
  right: auto;
  width: 0;
  height: 3px;
  background: #fff;
  bottom: -3px;
  transition: all 0.3s ease-out 0s;
  border-radius: 5px;
}
.navbar-nav .nav-item a:hover {
  color: #fff;
}
@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .navbar-nav .nav-item a:hover {
    color: #5f6fff;
  }
}
.navbar-nav .nav-item a:hover::after {
  width: 100%;
  right: auto;
  left: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .navbar-nav .nav-item a:hover::after {
    background: #5f6fff;
  }
}

/* Nav End */
/* ! Scroll to the Top  */

a {
  color: #0d6efd;

  transition: all 0.3s ease-out 0s;
  display: inline-block;
}

.scroll-top {
  width: 45px;
  height: 45px;
  background: #5f6fff;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
}
.scroll-top:hover {
  color: #fff;
  background: rgba(95, 111, 255, 0.8);
}
/* Footer */

@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
}
@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

.justify-content-center {
  justify-content: center !important;
}

.footer {
  background-color: #4d4796;
  padding-top: 80px;
  margin-top: 100px;
}

.footer .footer-menu ul {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .footer .footer-menu ul {
    justify-content: center;
  }
}
.footer .footer-menu ul li a {
  font-size: 14px;
  color: #fff;
  margin-right: 35px;
  display: block;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer .footer-menu ul li a {
    margin-right: 30px;
    font-size: 12px;
  }
}
.footer .footer-menu ul li a:hover {
  color: #d3d3d3;
}
.footer .footer-social ul {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .footer .footer-social ul {
    justify-content: center;
    
  }
}
.footer .footer-social ul li a {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}
.footer .footer-social ul li a:hover {
  background: #5757f0;
}

body > footer {
  position: relative;
}
/* Footer End */
/* Mehdi E */

/* Salah-Eddine S */

/* Salah-Eddine E */

/* Badr-Eddine S */

/* Badr-Eddine E */

/* Abde llah S */

/* Abde llah E */

/* Zakaria S */

/* Zakaria E */

/* Yassine S */

/* Yassine E */
